fastapi
uvicorn[standard]
langchain>=0.2
langchain-openai
langchain-community
langchain-ollama
openai
sqlalchemy>=2.0
psycopg2-binary
pydantic>=2.0
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
faker
python-dotenv
mcp
alembic
httpx
colorlog
